In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('../data/processed/cleaned_data.csv')
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1952 entries, 0 to 1951
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            1952 non-null   int64
 1   P            1952 non-null   int64
 2   K            1952 non-null   int64
 3   temperature  1952 non-null   float64
 4   humidity     1952 non-null   float64
 5   ph           1952 non-null   float64
 6   rainfall     1952 non-null   float64
 7   label        1952 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 122.1+ KB
None

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

### Splitting the data into Features and Label

In [3]:
X = df.drop('label', axis=1)
y = df['label']

### Getting a baseline model using a random classifier

In [9]:
np.unique(y, return_counts=True)

(array(['banana', 'blackgram', 'chickpea', 'coconut', 'coffee', 'cotton',
        'jute', 'kidneybeans', 'lentil', 'maize', 'mango', 'mothbeans',
        'mungbean', 'muskmelon', 'orange', 'papaya', 'pigeonpeas',
        'pomegranate', 'rice', 'watermelon'], dtype=object),
 array([100, 100,  52, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100,
        100, 100, 100, 100, 100, 100, 100]))

In [10]:
# Get the unique classes and their counts
unique_classes, class_counts = np.unique(y, return_counts=True)
class_probabilities = class_counts / len(y)

class_probabilities

array([0.05122951, 0.05122951, 0.02663934, 0.05122951, 0.05122951,
       0.05122951, 0.05122951, 0.05122951, 0.05122951, 0.05122951,
       0.05122951, 0.05122951, 0.05122951, 0.05122951, 0.05122951,
       0.05122951, 0.05122951, 0.05122951, 0.05122951, 0.05122951])

In [20]:
# Make random predictions based on class probabilities
y_pred = np.random.choice(unique_classes, size=len(y), p=class_probabilities)

# Calculate the accuracy
accuracy = round(accuracy_score(y, y_pred), 3)
print(f"Accuracy of Random Classifier: {accuracy}")

Accuracy of Random Classifier: 0.052